/* Comentarios CSS: Inicio con un comentario para describir el propósito del archivo */

/* Estilos para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Estilos para encabezados */
h1 {
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 3px;
    animation: rgbLights 3s infinite alternate;
}

@keyframes rgbLights {
    0% {
        color: red;
    }
    25% {
        color: green;
    }
    50% {
        color: blue;
    }
    75% {
        color: yellow;
    }
    100% {
        color: red;
    }
}
/* Estilos para párrafos */
p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

/* Estilos para enlaces */
a {
    color: #ff6b6b;
    text-decoration: none;
}

.catalogo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Diseño responsivo */
    gap: 20px; /* Espacio entre elementos */
    max-width: 1200px; /* Ancho máximo del catálogo */
    margin: 20px auto; /* Centrar el catálogo en la página */
    padding: 20px;
}

.producto {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
a:hover {
    text-decoration: underline;
}
.descripcion {
    font-size: 14px;
    color: #777;
    margin-top: 10px;
}

/* Añade un estilo para las imágenes */
.producto img {
    object-fit: contain;
    width: 200px;
    height: 400px;
}
